<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <img width="180" alt="Angular Logo" src="../assets/logo.png">
</div>

<hr>

<p *ngFor="let message of messages$ | async">{{message.text}}</p>

<router-outlet></router-outlet>
