.content {
  padding: 10vh 15vw;
}

body {
  font-family: "sofia-pro", sans-serif;
  min-height: 500vh;
}

h1,
h2,
h3 {
  font-weight: bold;
}

input:focus {
  outline: none !important;
  border-radius: 0px !important;
}
